<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zootypers"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:screenOrientation="portrait">        
        <uses-library android:name="android.test.runner" />
		
        <activity 
            android:name="com.example.zootypers.ui.SplashScreen"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
                    
        </activity>
        <activity
            android:name="com.example.zootypers.ui.TitlePage"
            android:label="@string/app_name" 
            android:theme="@style/AppTheme">
            
        </activity>
        <activity
            android:name="com.example.zootypers.ui.SinglePlayer"
            android:label="@string/title_activity_single_player"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.PreGameSelection"
            android:label="@string/title_activity_pre_game_selection" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.PreGameSelectionMulti"
            android:label="@string/title_activity_pre_game_selection_multi" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.Options"
            android:label="@string/title_activity_options" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.PostGameScreen"
            android:label="@string/title_activity_post_game_screen" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.RegisterPage"
            android:label="@string/title_activity_register_page" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.MultiPlayer"
            android:label="@string/title_activity_multi_player"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.PostGameScreenMulti"
            android:label="@string/title_activity_post_game_screen_multi" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.ErrorScreen"
            android:label="@string/title_activity_error" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.LeaderboardUI"
            android:label="@string/title_activity_leaderboard_ui" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.ui.Leaderboard"
            android:label="@string/title_activity_leaderboard" 
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.zootypers.RelativeUserScore"
            android:label="@string/title_activity_relative_user_score" 
            android:theme="@style/AppTheme">
        </activity>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.zootypers" />

</manifest>